.carousel-inner{
    height: 436px;
}
.navbar-nav, .me-auto ,.mb-2 ,.mb-lg-0{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100rem;
    position: relative;
    left: 50px;
}