@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+VN:wght@100..400&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

.navbar-1{
    /* border: 1px solid black; */
    height: 59px;
    display: inline-block;
    /* color: white; */
    /* background-color: black; */
    padding-left: 23px;
    padding-right: 20px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-size: 54px;
    box-sizing: border-box;
}
.navbar-2{
    font-family: "Playwrite VN", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    position: absolute;
    margin-left: 26px;
    width: auto;
    
}
.navbar{
    background-color: rgb(123, 156, 73) ;
    width: 100%;
    border-radius: 32px;
}
.option{
    text-decoration: none;
}