.section-1{
    border-right: 2px solid black;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px; /* Adjust width as needed */
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    background-color: antiquewhite;
    
}
.section-2{
    border-right: 2px solid black;
    float: right;
    right: -109px;
}
.section-3{
    float: right;
    right: -112px;
    background-color: bisque;
}
.layout{
    margin: 20px 0px;
}
.layout-item{
    text-align: center;
    justify-content: center;
}