/* about main css start  */

/* <!-- company members section START--> */
.com-mem-heading {
    text-align: center;
    text-transform: uppercase;
    font-family: "Roboto Slab", serif;
}

.mem-heading-1 {
    text-decoration: underline;
}

.mem-heading-2 {
    text-decoration: underline;
    text-decoration-color: red;
}

.card-1 {
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 4px;
}

.card-body {
    margin: 0px;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 12px;

}

.card-1 div h5 {
    font-weight: bold;
    font-family: "Roboto Slab", serif;
}

.card-1 div p {
    font-family: "Montserrat", sans-serif;
}

/* <!-- company members section end--> */
/* about main css end */

/* media query start   */
@media only screen and (min-width:320px) and (max-width:375px){
    /* company member section start  */

    .card-2nd {
        padding-bottom: 10px;
    }

    .card-1 {
        margin: 16px 15px;
        gap: 9px;
        flex-wrap: wrap;
    }

    .card-body {
        max-width: 15rem;
        max-height: 100%;
    }

    .card-img-top {
        width: 306px;
        max-width: 100%;
    }

    .card-2nd {
        margin: 0px 8px;
    }

    /* company member section end  */
}
@media only screen and (min-width:375px) and (max-width:425px) {
    /* company member section start  */


    .card-2nd {
        padding-bottom: 10px;
    }

    .card-1 {
        margin: 16px 62px;
        gap: 9px;
        flex-wrap: wrap;
    }

    .card-body {
        max-width: 16rem;
        max-height: 100%;
    }

    .card-img-top {
        width: 306px;
        max-width: 100%;
    }

    .card-2nd {
        margin: 0px 8px;
    }

    .card-img-top {
        width: 306px;
    }

    /* company member section end  */
}
@media only screen and (min-width:425px) and (max-width:576px) {
    /* company member section start  */

    .card-2nd {
        padding-bottom: 10px;
    }

    .card-1 {
        margin: 16px 10px;
        gap: 9px;
        flex-wrap: wrap;
    }

    .card-body {
        max-width: 21rem;
        max-height: 100%;
    }

    .card-img-top {
        width: 312px;
        max-width: 100%;
    }

    .card-2nd {
        margin: 0px 8px;
    }

    /* company member section end  */
}
@media only screen and (min-width:576px) and (max-width:768px){
    /* company member section start  */
    .card-1 {
        margin: 16px 4px;
        gap: 9px;
        flex-wrap: wrap;
    }

    .card-body {
        max-width: 16rem;
        max-height: 100%;
    }

    .card-img-top {
        width: 306px;
        max-width: 100%;
    }


    .card-2nd {
        margin: 0px 8px;
        margin-bottom: 11px;
    }

    /* company member section end */
}
@media only screen and (min-width:768px) and (max-width:1024px){
    /* company member section start  */
    .card-1 {
        margin: 16px 39px;
        gap: 9px;
        flex-wrap: wrap;
    }

    .card-body {
        max-width: 14rem;
        max-height: 100%;
    }

    .card-img-top {
        width: 198px;
    }

    .card-2nd {
        margin: 0px 8px;
        margin-bottom: 11px;
    }

    .medium-screen-remove {
        display: none;
    }

    /* company member section end */

}

/* media query end */